body {
    
    width: 70%;
    margin: 0 auto;
    background-color: #ccc;
    
}

.content-tile {
    
    margin-top: 5%;
    background-color: #fefefe;
    border-radius: 20px;
    padding: 10px;
    
}

.content-tile p {
    
    padding: 10px;
    border-radius: 50px;
    background-color: rgba(0, 78, 255, 0.04);
    
    
}

/* Style - Nav Right Click Menu */

#nav-container {
    
    position: fixed;
    
}

#nav-container .nav-box {
    
    background-color: #fefefe;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #aaa;
    
}