body {
    
    width: 70%;
    margin: 0 auto;
    background-color: #ccc;
    
}

.content-tile {
    
    margin-top: 5%;
    background-color: #fefefe;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 px 0px 30px #aaa;
    
}

.content-tile p {
    
    padding: 10px;
    border-radius: 50px;
    background-color: rgba(0, 78, 255, 0.04);
    
    
}

/* Style - Nav Right Click Menu */

#nav-container {
    
    position: fixed;
    display: none;
    
}

#nav-container .nav-box {
    
    background-color: #fefefe;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 30px #aaa;
    
}
#nav-container .nav-box ul {
    
    list-style-type: none;
    padding: 0;
    
}

#nav-container .nav-box ul li {
    
    display: block;
    padding: 5px;
    
}

#nav-container .nav-box ul li a, #nav-container .nav-box ul li a:visited {
    
    text-decoration: none;
    color: #9f9f9f;
    
}
#nav-container .nav-box ul li a:hover {
    
    
    color: #650000;
}
